@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Theme Colours
$primaryColor: #5E00F2;
$secondaryColor: rgb(255, 255, 255);

// Fonts
$primaryFont: 'Fira Sans Extra Condensed', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: $primaryColor;
}

h3, h4 {
  color: white;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color: $secondaryColor;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 90px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

  input {
    outline: none;
    border: none;
    background: $primaryColor;
    color: $secondaryColor;
    font-family: $secondaryFont;
    padding: 10px;
    font-size: 1.6em;
    border-radius: 5px;
    box-shadow: 0 3px 14px #5e00f282;
    text-align: left;
    &::placeholder {
      color: white;
      font-family: 'FontAwesome';
    } 
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: linear-gradient(45deg, #5e00f2, #873bff);
    color: $secondaryColor;
    font-family: $secondaryFont;
    padding: 10px;
    font-size: 1.6em;
    border-radius: 5px;
    box-shadow: 0 3px 14px #5e00f282;
    text-align: center;

    &:hover {
      background: #38028f;
      color: #ffffff;
    }
  }
}

// Loader
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.loader-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #38028f;
  border-radius: 1000px;
  transform: scale(0);
}

// Results Gird
.domain-results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

// Domain Item
.domain-item {
  opacity: 0;
  background-color: $primaryColor;
  width: 100%;
  max-width: 800px;
  height: auto;
  color: rgba(255, 255, 255, 0.42);
  font-family: $secondaryFont;
  padding: 20px;
  border-radius: 5px;

  // @for $i from 1 through 400 {
  //   &:nth-child( #{$i} ) {
  //    animation: resultsIn .75s #{$i * 0.25}s ease 1 forwards; 
  //   }
  // }

  @keyframes resultsIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.sb-highlight {
  color: white;
  display: inline;
}

.domain-count {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #5e00f2;
}

.search-settings {
  width: auto;
  height: 200px;
  margin: 20px 0px 20px 0px;
}

// Toggle
.toggle {
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-container {
  background-color: #848484;
  width: 70px;
  height: 40px;
  border-radius: 1000px;
  justify-self: right;
}

.container-toggled {
  background-color: $primaryColor;
}

.toggle-button {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 1000px;
    margin-top: 7px;
    margin-left: 7px;
    position: absolute;
    box-shadow: 0 0 13px #0f0029a1;
    cursor: pointer;
    transition: .4s ease;
}

.toggle-label {
  font-family: $secondaryFont;
  font-size: 1.3em;
  color: $primaryColor;
}

.toggled {
  transform: translateX(31px);
  animation: gooSwitch .3s ease;
  @keyframes gooSwitch {
    0% {
      width: 25px;
    }

    50% {
      width: 35px;
    }

    100% {
      width: 25px;
    }
  }
}

// Alert Component 
.alert-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  background: $primaryColor;
  h3 {
    color: white;
  }
  margin-top: 20px;
  border-radius: 5px;
  font-family: $secondaryFont;
  text-align: center;
}

.footer-container {
  position: absolute;
  bottom: 0px;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  background: $primaryColor;
  padding: 20px;
  .footer-content {
    width: 600px;
    color: white;
    font-family: $secondaryFont;
  }
}

