@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Theme Colours
$primaryColor: #5E00F2;
$secondaryColor: rgb(255, 255, 255);

// Fonts
$primaryFont: 'Fira Sans Extra Condensed', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: $primaryColor;
}

h3 {
  color: white;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color: $secondaryColor;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;

  input {
    outline: none;
    border: none;
    background: $primaryColor;
    color: $secondaryColor;
    font-family: $primaryFont;
    padding: 10px;
    font-size: 1.6em;
    border-radius: 5px;
    box-shadow: 0 3px 14px #5e00f282;
    text-align: center;
    &::placeholder {
      color: #ffffff7a;
    } 
  }

  button {
    cursor: pointer;
    margin-left: 25px;
    outline: none;
    border: none;
    background: $primaryColor;
    color: $secondaryColor;
    font-family: $primaryFont;
    padding: 10px;
    font-size: 1.6em;
    border-radius: 5px;
    box-shadow: 0 3px 14px #5e00f282;
    text-align: center;

    &:hover {
      background: #38028f;
      color: #ffffff;
    }
  }
}

// Loader
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.loader-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #38028f;
  border-radius: 1000px;
  transform: scale(0);
}

// Results Gird
.domain-results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

// Domain Item
.domain-item {
  background-color: $primaryColor;
  width: 100%;
  max-width: 800px;
  height: auto;
  color: #38028f;;
  font-family: $secondaryFont;
  padding: 20px;
  border-radius: 5px;
}

.sb-highlight {
  color: white;
  display: inline;
}
